/* Style du corps */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* Style du menu mobile */
.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
}

/* Style du bouton de menu */
.menu-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Style du conteneur principal */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style des titres */
h2, h3 {
    color: #007bff;
    margin-bottom: 10px;
}

/* Style des informations personnelles */
.container p {
    margin-bottom: 5px;
}

/* Style des messages reçus */
.container ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.container ul li {
    margin-bottom: 10px;
}

.container ul li a {
    color: #007bff;
    text-decoration: none;
}

.container ul li a:hover {
    text-decoration: underline;
}

/* Style du formulaire de réponse */
form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 5px;
}

footer p {
    margin-bottom: 10px;
}
