/* Réinitialisation des marges et des paddings */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style du conteneur principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    
    margin: 20px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
}

/* Style du titre */
h1 {
    margin-top: 20px;
    text-align: center;
    color: blue;
}

/* Style des sections */
section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Style du formulaire */
form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style des enfants */
 ul {
    list-style-type: none;
    margin-top: 15px;
}

section ul li {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Style du pied de page */
footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
